/*your css code here. If applicable*/
/* body {
  background-color: #f5f5f5;
  padding: 10px;
}

div {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p{
  margin-bottom: 10px;
}

.bc, .ac{
	text-align: right;
} */
body {
  background-color: #f5f5f5;
  padding: 10px;
}

.testimonial {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.author {
  text-align: right;
}
